/*
Estilos index.html*/
  .center {text-align: center;}


.container {
display: flex;
flex-flow: row ;
justify-content : center;
align-items : center;
text-align: justify;
margin: 10px;

}

/*menu*/
#menu li {
display: inline;
padding: 50px;
}
#menu li a{
    text-decoration: none;
    color: lightcoral;
}


/*Footer*/
.p-30 {
    padding: 10px;
}
.br-50 {

    border-radius: 10%;
}


.tm-social {
 width:  50px;
  height:  50px;
 padding: 10px;  /*espaço entre img*/ 
}


.mb-50 {   /*Margem*/
 
    margin-bottom: 50px;
 
}

.ml-50 { 
    margin-left: 50px;
}
